<h2 id="title">Welcome to Ember</h2>

{{notify-base type="success" message="Success" onClick=(action "showAlert" "Message")}}
{{notify-success message="Success" onClick=(action "showAlert" "Message")}}
{{notify-failure message="Failure"}}
{{notify-warning message="Warning"}}
{{notify-info message="Info"}}

{{report-base type="success" title="Success" message="Message" btnText="OK" onClick=(action "showAlert" "Message")}}
{{report-success title="Success" message="Message" btnText="OK" onClick=(action "showAlert" "Message")}}
{{report-failure title="Failure" message="Message" btnText="OK"}}
{{report-warning title="Warning" message="Message" btnText="OK"}}
{{report-info title="Info" message="Message" btnText="OK"}}

{{loading-base type="standard" message="Loading..."}}
{{loading-standard message="Loading..."}}
{{loading-hourglass message="Loading..."}}
{{loading-circle message="Loading..."}}
{{loading-arrows message="Loading..."}}
{{loading-dots message="Loading..."}}
{{loading-pulse message="Loading..."}}
{{loading-custom message="Loading..."}}

{{confirm-base title="Notiflix Confirm" message="Do you agree with me?" okBtnText="Yes" cancelBtnText="No" onClick=(action "showAlert" "Message")}}
